/* Overriding Bootstrap colors */
$custom-colors: (
  'primary': #6b0504,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

/* Extending Bootstrap spacers */
$custom-spacers: (
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 6,
  10: $spacer * 7,
);

$spacers: map-merge($spacers, $custom-spacers);

/* Extending breakpoint Bootstrap classes */
$utilities: map-merge(
  $utilities,
  (
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          responsive: true,
          values: (
            10: 10%,
            25: 25%,
            33: 33%,
            50: 50%,
            66: 66%,
            75: 75%,
            90: 90%,
            100: 100%,
            auto: auto,
          ),
        )
      ),
  )
);
